@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Welcome to delivery service with RabbitMq!</h2>
        <ul>
            <li>Register your delivery</li>
        </ul>
    </div>

</div>
